:root{
    --light-gray: #F1F1F1;
}

:root{
    --dark-grey: #4F4D55;
}

:root{
    --primary: #0B0A0A;
}

:root{
    --secondary: #5F5F61;
}

:root{
    --blue-light: #EBF0FB;
}

:root{
    --accent: #113B98;
}

:root{
    --light-black: #262628;
}

:root{
    --green-light: #E1FAEA;
}

:root{
    --succes-accent: #016626;
}

:root{
    --error-light: #FFE3E3;
}

:root{
    --error: #961616;
}

:root{
    --btn-primary: #1751D0;
}

:root{
    --white: #fff;
}

:root{
    --stroke: #E3E5E8;
}

:root{
    --strokeCell: rgb(0, 0, 0, 0.05);
}